sql_connection do
  adapter  "mysql2"
  host     "mysql"
  username "root"
  password "rootpassword"
  database "blog_db"
  encoding "utf8"
end

no_sql_connection do
  adapter  "mongodb"
  host     "mongodb"
  port     27017
  username "root"
  password "rootpassword"
  database "blog_db_migrated"
  auth_source "admin"
end
