sql_connection do
  adapter  "postgresql"
  host     "postgres"
  username "postgres"
  password "postgrespassword"
  database "appdb"
  encoding "utf8"
end

no_sql_connection do
  adapter  "mongodb"
  host     "mongodb"
  port     27017
  username "root"
  password "rootpassword"
  database "appdb_migrated"
  authentication_database "admin"
end
